In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [16]:
df = pd.read_csv('2_homeprices.csv')
df

     area  habitaciones  edad     precio   zona           ubicacion
0   59.21           3.0     3  125229150  Norte   (Ciudad guabinas)
1   86.69           4.0     2  367881000  Oeste       (S. Fernando)
2   95.54           NaN     4  511530000  Norte          (La Flora)
3   37.91           4.0     3  137079000  Norte          (La Flora)
4   65.72           NaN     2  220660000  Sur 1      (Buenos Aires)
5   60.05           4.0     8  146469000  Sur 2    (Valle del Lili)
6   75.00           3.0     1  326792507  Sur 1         (Guadalupe)
7   55.30           5.0     8  401000000  Oeste          (Arboleda)
8   92.34           3.0     4  609300590  Oeste           (Mameyal)
9   59.14           3.0     1  139500000  Sur 2  (Bosque del valle)
10  77.79           3.0     2  143798000  Sur 2   (Ciudad Pacifica)
11  95.10           5.0     1  451398670  Sur 1          (S. Anita)

**Pre-Calculation (find missing data):**

In [17]:
m = df.habitaciones.median()
m

3.5

In [18]:
df.habitaciones = df.habitaciones.fillna(m)
df=df.drop(["zona"], axis="columns")
df=df.drop(["ubicacion",], axis="columns")
df

     area  habitaciones  edad     precio
0   59.21           3.0     3  125229150
1   86.69           4.0     2  367881000
2   95.54           3.5     4  511530000
3   37.91           4.0     3  137079000
4   65.72           3.5     2  220660000
5   60.05           4.0     8  146469000
6   75.00           3.0     1  326792507
7   55.30           5.0     8  401000000
8   92.34           3.0     4  609300590
9   59.14           3.0     1  139500000
10  77.79           3.0     2  143798000
11  95.10           5.0     1  451398670

**Calculation**

In [19]:
x = df.drop('precio', axis='columns')

In [20]:
model = linear_model.LinearRegression()
model.fit(x, df.precio)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
model.coef_

array([ 7565192.32742209, 41212451.56653597, 16862459.84526137])

In [22]:
model.intercept_

-449568549.75725156

In [23]:
model.predict([[50.92, 2, 1], [60.3,3,1] ])

array([3.49384065e+07, 1.47112362e+08])

In [24]:
m = model.coef_
c = model.intercept_
x1 = 50.92
x2 = 2
x3 = 1
y = m[0]*x1 + m[1]*x2 + m[2]*x3 + c
y

34938406.53341478